/* modals */

input[type='checkbox']
{
  display: none;
}

.cart-modal {
  box-sizing: border-box;
  position: fixed;
  height: 100vh;
  max-width: 380px;
  width: 100%;
  top: 0;
  right: -380px;
  background: rgb(255, 255, 255);
  z-index: 120;
  transition: all .5s;
  overflow-y: scroll;
} 

input[type='checkbox']:checked ~ .cart-modal
{
  transform: translateX(350px);
}

.cart-modal .continue {
  border-bottom: 2px solid rgb(236, 238, 241);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-modal .continue img {
  height: 40px;
  width: auto;
}

.cart-modal .continue p {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 15px;
}

.cart-modal .purchases {
  border-bottom: 2px solid black;
  min-height: 110px;
  padding-top: 55px;
}

.cart-modal .purchases .myPurchases {
  position: relative;
  padding-left: 15px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
}

.cart-modal .purchases .myPurchases::after {
  content: '';
  position: absolute;
  width: 50%;
  top: 55%;
  margin-left: 5px;
  border-top: 3px solid black;
}

.cart-modal .purchases .purchases-list {
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.cart-modal .purchases .purchases-list .modal-cart-product-section {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-image {
  position: relative;
  border: 1px solid rgb(227, 231, 235);
  width: 120px;
  height: 144px;
  border-radius: 15px;
  text-align: center;
}

.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-image img {
  padding-top: 25px;
  width: 100px;
  height: auto;
}

.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-image .modal-cart-product-remove {
  position: absolute;
  color: rgb(150, 150, 150);
  background-color: #fff;
  top: -10px;
  left: -10px;
  font-size: 25px;
}
 
.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-info {
  width: 55%;
}

.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-info .modal-cart-product-title {
  margin-top: 10px;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
}

 
.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-info .modal-cart-product-size {
 margin-top: 10px; 
}

.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-info .modal-cart-product-size p {
  font-weight: 500;
  color: rgb(150, 150, 150);
  font-size: 15px;
  letter-spacing: 1px;
}

.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-info .modal-cart-product-size ul {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-info .modal-cart-product-size .modal-product-size-btn {
  border: none;
  padding: 0 3px;
  background: #fff;
  font-weight: 500;
  font-size: 15px;
}


.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-info .modal-cart-product-size ul .modal-size-active {
  padding: 0 3px;
  font-size: 16px;
  font-weight: 700;
  border-left: 1px solid rgb(150, 150, 150);
  border-right: 1px solid rgb(150, 150, 150);
}



.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-info .modal-cart-product-quantity {
  margin-top: 10px;
}

.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-info .modal-cart-product-quantity p {
  font-weight: 500;
  color: rgb(150, 150, 150);
  font-size: 15px;
  letter-spacing: 1px;
}

.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-info .modal-cart-product-quantity .modal-cart-product-quantity-info {
  margin-top: 10px;
}

.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-info .modal-cart-product-quantity .modal-cart-product-quantity-info .number {
  border: none;
  width: 30px;
  text-align: center;
  font-size: 15px;
  background-color: #fff;
}


.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-info .modal-cart-product-quantity .modal-cart-product-quantity-info .plus {
  border: none;
  background-color: #fff;
  border-left: 1px solid rgb(150, 150, 150);
  margin-left: 10px;
  padding: 0 10px;
}


.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-info .modal-cart-product-quantity .modal-cart-product-quantity-info .minus {
  border: none;
  background-color: #fff;
  padding: 0 10px;
}

.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-info .modal-cart-product-price {
  margin-top: 10px;
  text-align: end;
}

.cart-modal .purchases .purchases-list .modal-cart-product-section .modal-cart-product-info .modal-cart-product-price .price {
  font-size: 12px;
  font-weight: 700;
  color: black;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.cart-modal .promotional {
  padding-left: 30px;
  margin-top: 20px;
}

.cart-modal .promotional p {
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(150, 150, 150);
  font-size: 12px;
  letter-spacing: 1.5px;
}

.cart-modal .promotional input {
  position: relative;
  margin-top: 10px;
  border: none;
  background-color: rgb(244, 246, 248);
  width: 240px;
  height: 35px;
  border-radius: 30px;
}
.cart-modal .promotional button {
  position: absolute;
  margin-top: 10px;
  border: none;
  background-color: black;
  right: 35px;
  width: 130px;
  height: 35px;
  border-radius: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 13px;
}

.cart-modal hr {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid rgb(236, 238, 241);
}

.cart-modal .cart-info {
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(150, 150, 150);
  font-size: 12px;
  letter-spacing: 1.5px;
}

.cart-modal .cart-info .products-cost {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart-modal .cart-info .total-cost {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-modal .cart-info p {
  margin-bottom: 10px;
}

.cart-modal .cart-info .price {
  font-size: 12px;
  font-weight: 700;
  color: black;
}

.cart-modal .cart-info .total-cost .price {
  font-size: 20px;
}

.cart-modal .make-an-order {
  margin: 50px 30px 0 30px;
  text-align: center;
}

.cart-modal .make-an-order button {
  width: 280px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: black;
  color: #fff;
  font-weight: 100;
  letter-spacing: 1.5px;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

@media (min-width : 321px) and (max-width : 480px) {
  .cart-modal {
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    max-width: 480px;
    width: 100%;
    top: 0;
    right: -380px;
    background: rgb(255, 255, 255);
    z-index: 120;
    transition: all .5s;
    overflow-y: scroll;
  } 
}

@media (min-width : 481px) and (max-width : 767px) {
}

@media (min-width : 768px) and (max-width : 1024px) {
}