.modal-bg .forgot-modal {
  box-sizing: border-box;
  position: absolute;
  display: none;
  top: 163px;
  right: 85px;
  width: 350px;
  height: 250px;
  background-color: rgb(243, 243, 243);
  border-radius: 30px;
  padding: 0 20px;
  padding-top: 20px;
  z-index: 100;
}

.modal-bg .forgot-modal .forgot-text h3 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
}

.modal-bg .forgot-modal .forgot-text p {
  margin-top: 10px;
  color: rgb(150, 150, 150);
  letter-spacing: 0.7px;
}

.modal-bg .forgot-modal .forgot-info .p-input {
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(150, 150, 150);
  font-size: 12px;
  letter-spacing: 1.5px;
  margin-top: 20px;
  margin-left: 5px;
}

.modal-bg .forgot-modal .forgot-info input {
  margin-top: 10px;
  border: none;
  background-color: #fff;
  width: 100%;
  height: 35px;
  border-radius: 30px;
}

.modal-bg .forgot-modal .forgot-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-bg .forgot-modal .forgot-buttons button {
  width: 230px;
  height: 40px;
  border: none;
  border-radius: 30px;
  background-color: black;
  color: #fff;
  font-weight: 100;
  letter-spacing: 1.5px;
  font-size: 12px;
  text-transform: uppercase;
}

.modal-bg .forgot-modal .forgot-buttons .canceling {
  border-bottom: 1px dashed rgb(150, 150, 150);
  color: rgb(150, 150, 150);
  letter-spacing: 0.7px;
  cursor: pointer;
}

.modal-bg .forgot-modal .close-modal-btn .close {
  position: absolute;
  right: 18px;
  top: 14px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.modal-bg .forgot-modal .close-modal-btn .close:hover {
  opacity: 1;
}

.modal-bg .forgot-modal .close-modal-btn .close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.modal-bg .forgot-modal .close-modal-btn .close:before {
  transform: rotate(45deg);
}

.modal-bg .forgot-modal .close-modal-btn .close:after {
  transform: rotate(-45deg);
}

@media (min-width : 321px) and (max-width : 480px) {
  .modal-bg .forgot-modal {
    top: 65px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media (min-width : 481px) and (max-width : 767px) {
  .modal-bg .forgot-modal {
    top: 65px;
    right: 85px;
  }
}

@media (min-width : 768px) and (max-width : 1024px) {
  .modal-bg .forgot-modal {
    top: 65px;
    right: 85px;
  }
}

@media (min-width : 1025px) and (max-width : 1300px) {
  .modal-bg .forgot-modal {
    top: 190px;
    right: 85px;
  }
}
