.modal-bg .login-modal {
  box-sizing: border-box;
  position: absolute;
  display: none;
  top: 163px;
  right: 85px;
  width: 350px;
  height: 475px;
  background-color: rgb(243, 243, 243);
  border-radius: 30px;
  padding: 0 20px;
  padding-top: 20px;
  z-index: 100;
}

.login-modal .login-info .p-input {
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(150, 150, 150);
  font-size: 12px;
  letter-spacing: 1.5px;
  margin-top: 20px;
  margin-left: 5px;
}

.modal-bg .login-modal .login-info input {
  margin-top: 10px;
  border: none;
  background-color: #fff;
  width: 100%;
  height: 35px;
  border-radius: 30px;
}

.modal-bg .login-modal .remember-forgot {
  height: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-bg .login-modal .remember-forgot .remember {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgb(150, 150, 150);
  letter-spacing: 0.7px;
}

.modal-bg .login-modal .remember-forgot .remember input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.modal-bg .login-modal .remember-forgot .remember .checkmark {
  position: absolute;
  top: -5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(150, 150, 150);
}

.modal-bg .login-modal .remember-forgot .remember .checkmark:hover {
  background-color: rgb(150, 150, 150);
  transition: 0.3s;
}

.modal-bg .login-modal .remember-forgot .remember input:checked ~ .checkmark {
  background-color: #000;
  border: 1px solid #000;
} 

.modal-bg .login-modal .remember-forgot .remember .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.modal-bg .login-modal .remember-forgot .remember input:checked ~ .checkmark:after {
  display: block;
}

.modal-bg .login-modal .remember-forgot .remember .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-bg .login-modal .remember-forgot .forgot {
  border-bottom: 1px dashed rgb(150, 150, 150);
  color: rgb(150, 150, 150);
  letter-spacing: 0.7px;
  cursor: pointer;
}

.modal-bg .login-modal .login-btn {
  display: flex;
  justify-content: center;
}

.modal-bg .login-modal .login-btn button {
  margin-top: 30px;
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 30px;
  background-color: black;
  color: #fff;
  font-weight: 100;
  letter-spacing: 1.5px;
  font-size: 12px;
  text-transform: uppercase;
}

.modal-bg .login-modal .login-through {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal-bg .login-modal .login-through p {
  color: rgb(150, 150, 150);
}

.modal-bg .login-modal .login-through .socials {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.modal-bg .login-modal .login-through .socials p {
  font-size: 30px;
  margin: 0 10px;
}

.modal-bg .login-modal .login-through .socials p:hover {
  color: #000;
  transition: 0.3s;
  cursor: pointer;
}

.modal-bg .login-modal .or {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.modal-bg .login-modal .or hr {
  border: none;
  border-bottom: 1px solid rgb(150, 150, 150);
  width: 50px;
}

.modal-bg .login-modal .or p {
  position: absolute;
  margin-top: -1px;
  color: rgb(150, 150, 150);
  background-color: rgb(243, 243, 243);
  padding: 0 3px;
}

.modal-bg .login-modal .fast-registration {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.modal-bg .login-modal .close-modal-btn .close {
  position: absolute;
  right: 18px;
  top: 14px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.modal-bg .login-modal .close-modal-btn .close:hover {
  opacity: 1;
}

.modal-bg .login-modal .close-modal-btn .close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.modal-bg .login-modal .close-modal-btn .close:before {
  transform: rotate(45deg);
}

.modal-bg .login-modal .close-modal-btn .close:after {
  transform: rotate(-45deg);
}

@media (min-width : 321px) and (max-width : 480px) {
  .modal-bg .login-modal {
    top: 65px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media (min-width : 481px) and (max-width : 767px) {
  .modal-bg .login-modal {
    top: 65px;
    right: 85px;
  }
}

@media (min-width : 768px) and (max-width : 1024px) {
  .modal-bg .login-modal {
    top: 65px;
    right: 85px;
  }
}

@media (min-width : 1025px) and (max-width : 1300px) {
  .modal-bg .login-modal {
    top: 190px;
    right: 85px;
  }
}
