.modal-bg .recommended-modal {
  box-sizing: border-box;
  position: fixed;
  display: none;
  top: 163px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 980px;
  height: auto;
  background-color: rgb(243, 243, 243);
  border-radius: 30px;
  padding: 0 50px;
  padding-top: 20px;
  z-index: 100;
  overflow-y: scroll;
}

.modal-bg .recommended-modal .recommended-section {
  display: flex;
}

.modal-bg .recommended-modal .recommended-section .recommened-product-image img {
  width: 250px;
}

.modal-bg .recommended-modal .recommended-section .product-info {
  margin-left: 90px;
}

.modal-bg .recommended-modal .recommended-section .product-info .product-title {
  text-transform: capitalize;
  font-weight: 600;
  text-align: left;
  font-size: 20px;
}

.modal-bg .recommended-modal .recommended-section .product-info .product-price {
  box-sizing: border-box;
  position: relative;
  margin-top: 20px;
  width: 120px;
  height: 35px;
  border-radius: 30px;
  padding-left: 38px;
  line-height: 35px;
  background: black;
  color: rgb(243, 243, 243);
  font-weight: 600;
  font-size: 20px;
}

.modal-bg .recommended-modal .recommended-section .product-info hr {
  margin-top: 30px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.modal-bg .recommended-modal .recommended-section .product-info .product-description {
  white-space: pre-line; 
  margin-top: -25px;
  font-weight: 400;
  font-size: 15px;
  color: rgb(71, 68, 79);
  line-height: 1.5;
  font-style: italic;
}

.modal-bg .recommended-modal .recommended-section .product-info .product-size {
  margin-top: 20px;
}

.modal-bg .recommended-modal .recommended-section .product-info .product-size p {
  color: rgb(129, 131, 145);
  font-size: 15px;
  letter-spacing: 2px;
}

.modal-bg .recommended-modal .recommended-section .product-info .product-size ul  {
  margin-top: 20px;
  display: flex;
}

.modal-bg .recommended-modal .recommended-section .product-info .product-size .product-size-btn {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 15px;
  color: rgb(215, 215, 215);
  border-radius: 50px;
  background-color: #fff;
}

.modal-bg .recommended-modal .recommended-section .product-info .product-size .product-size-btn:hover {
  background-color: #000;
  color: #fff;
  font-weight: 700;
}

.modal-bg .recommended-modal .recommended-section .product-info .product-size .product-size-active {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 15px;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  font-weight: 700;
}

.modal-bg .recommended-modal .recommended-section .product-info .quantity_add {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.modal-bg .recommended-modal .recommended-section .product-info .quantity_add .quantity {
  margin-right: 30px;
}

.modal-bg .recommended-modal .recommended-section .product-info .quantity_add .quantity p {
  color: rgb(129, 131, 145);
  font-size: 15px;
  letter-spacing: 2px;
}

.modal-bg .recommended-modal .recommended-section .product-info .quantity_add .quantity .product-counter {
  margin-top: 20px;
  width: 123px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.modal-bg .recommended-modal .recommended-section .product-info .quantity_add .quantity .product-counter .counter-minus {
  border: 2px solid black;
  border-right: none;
  width: 40px;
  background-color: rgb(243, 243, 243);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.modal-bg .recommended-modal .recommended-section .product-info .quantity_add .quantity .product-counter input {
  border: 2px solid black;
  width: 35px;
  background-color: rgb(243, 243, 243);
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-bg .recommended-modal .recommended-section .product-info .quantity_add .quantity .product-counter .counter-plus {
  border: 2px solid black;
  border-left: none;
  width: 40px;
  background-color: rgb(243, 243, 243);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.modal-bg .recommended-modal .recommended-section .product-info .quantity_add .add button {
  width: 260px;
  height: 40px;
  border: none;
  border-radius: 30px;
  margin-top: 35px;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 300;
  color: rgb(243, 243, 243);
  background-color: black;
}


.modal-bg .recommended-modal .close-modal-btn .close {
  position: absolute;
  right: 18px;
  top: 14px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.modal-bg .recommended-modal .close-modal-btn .close:hover {
  opacity: 1;
}

.modal-bg .recommended-modal .close-modal-btn .close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.modal-bg .recommended-modal .close-modal-btn .close:before {
  transform: rotate(45deg);
}

.modal-bg .recommended-modal .close-modal-btn .close:after {
  transform: rotate(-45deg);
}

@media (min-width : 321px) and (max-width : 480px) {
  .modal-bg .recommended-modal {
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-height: 700px;
    height: 100%;
    overflow-y: scroll;
  }

  .modal-bg .recommended-modal .recommended-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-bg .recommended-modal .recommended-section .recommened-product-image img {
    width: 150px;
  }

  .modal-bg .recommended-modal .recommended-section .product-info {
    margin-left: initial;
    margin-top: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

  .modal-bg .recommended-modal .recommended-section .product-info .product-price {
    box-sizing: border-box;
    position: relative;
    margin-top: 20px;
    width: 120px;
    height: 35px;
    border-radius: 30px;
    padding-left: initial;
    text-align: center;
    line-height: 35px;
    background: black;
    color: rgb(243, 243, 243);
    font-weight: 600;
    font-size: 20px;
  }

  .modal-bg .recommended-modal .recommended-section .product-info hr {
    margin-top: 10px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@media (min-width : 481px) and (max-width : 767px) {
  .modal-bg .recommended-modal {
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-height: 700px;
    height: 100%;
    overflow-y: scroll;
  }

  .modal-bg .recommended-modal .recommended-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-bg .recommended-modal .recommended-section .recommened-product-image img {
    width: 150px;
  }

  .modal-bg .recommended-modal .recommended-section .product-info {
    margin-left: initial;
    margin-top: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

  .modal-bg .recommended-modal .recommended-section .product-info .product-price {
    box-sizing: border-box;
    position: relative;
    margin-top: 20px;
    width: 120px;
    height: 35px;
    border-radius: 30px;
    padding-left: initial;
    text-align: center;
    line-height: 35px;
    background: black;
    color: rgb(243, 243, 243);
    font-weight: 600;
    font-size: 20px;
  }

  .modal-bg .recommended-modal .recommended-section .product-info hr {
    margin-top: 10px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@media (min-width : 768px) and (max-width : 1024px) {

}