<div class="admin-sidenav">
  <div class="admin-sidenav-info">
    <div class="admin-sidenav-info-profile">
      <div class="admin-sidenav-info-profile-img">
        <img src="https://telegram.org/file/811140509/b45/dQTLEwKZ9gs.22232.gif/4580677d940852f30e" alt="admin">
      </div>
      <div class="admin-sidenav-info-profile-name">
        <p class="admin-profile-name">{{user.name}} {{user.surname}}</p>
        <p class="admin-profile-position">Администратор</p>
      </div>
    </div>
    <div class="admin-sidenav-info-email">
      <p class="admin-email">{{user.email}}</p>
    </div>
    <div class="admin-sidenav-menu">
      <ul>
        <a href="/admin"><li><p>Дашборд</p><i class="material-icons">home</i></li></a>
        <a href="/admin/users"><li><p>Пользователи</p><i class="material-icons">people</i></li></a>
        <a href="/admin/orders"><li><p>Заказы</p><i class="material-icons">add_shopping_cart</i></li></a>
        <a href="/admin/catalog"><li><p>Каталог</p><i class="material-icons">folder</i></li></a>
        {{!-- <a href="/admin"><li><p>Склад</p><i class="material-icons">local_mall</i></li></a> --}}
      </ul>
    </div>
    <div class="admin-sidenav-menu-back-to-shop">
      <button type="submit" class="admin-sidenav-menu-back-to-shop-btn">Bloodborne</button>
    </div>
  </div>
</div>