<div class="header">
  <div class="upper-header">
    <a href="/">
      <img src="/public/img/logo.png" alt="bloodborne" srcset="">
    </a>
  </div>
  <div class="lower-header">
    {{> navbar}}
  </div>
</div>