<div class="nav">
  <div class="navbar">
    <ul>
      <li><a href="/categories/weapons">Оружие</a></li>
      <li><a href="/categories/hats">Головные уборы</a></li>
      <li><a href="/categories/outerwear">Верхняя одежда</a></li>
      <li><a href="/categories/gloves">Перчатки</a></li>
      <li><a href="/categories/pants">Брюки</a></li>

      {{#if isFAQ}}
      <li class="active"><a href="/faq">FAQ</a></li>
      {{else}}
      <li><a href="/faq">FAQ</a></li>
      {{/if}}
      
      {{#if isOrStatus}}
      <li class="active"><a href="/order-status">Статус заказа</a></li>
      {{else}}
      <li><a href="/order-status">Статус заказа</a></li>
      {{/if}}

    </ul>
    <div class="login_cart">
      {{#if isAuth}}
        <div class="login">
          <a href="/profile/1"><button class="isauth"><i class="fas fa-user"></i></button></a>
        </div>
      {{else if isAdmin}}
        <div class="login">
          <a href="/profile/1"><button class="isauth"><i class="fas fa-user"></i></button></a>
        </div>
      {{else}}
        <div class="login">
          <button class="noauth"><i class="fas fa-user"></i></button>
        </div>
      {{/if}}
      <input type="checkbox" id="check">
        <div class="cart"> 
          <button><i class="fas fa-shopping-cart"></i></button>
          <p class="total-cost">0</p>
          <img src="/public/img/bloodechoes.png" alt="bloodechoes">
        </div>      
    </div>
  </div>
</div>
