<div class="nav">
  <div class="navbar">
    <ul class="menu-list">
      <li><a href="/categories/weapons">Оружие</a></li>
      <li><a href="/categories/hats">Головные уборы</a></li>
      <li><a href="/categories/outerwear">Верхняя одежда</a></li>
      <li><a href="/categories/gloves">Перчатки</a></li>
      <li><a href="/categories/pants">Брюки</a></li>
      <li><a href="/categories/accessories">Аксессуары</a></li>

      {{#if isFAQ}}
      <li class="active"><a href="/faq">FAQ</a></li>
      {{else}}
      <li><a href="/faq">FAQ</a></li>
      {{/if}}
      
      <li class="check-status-btn">Статус заказа</li>

    </ul>
    <div class="login_cart_burger">
      {{#if isAuth}}
        <div class="login">
          <a href="/profile"><button class="isauth"><i class="fas fa-user"></i></button></a>
        </div>
      {{else if isAdmin}}
        <div class="login">
          <a href="/profile"><button class="isauth"><i class="fas fa-user"></i></button></a>
        </div>
      {{else}}
        <div class="login">
          <button class="noauth"><i class="fas fa-user"></i></button>
        </div>
      {{/if}}
        <input type="checkbox" id="check">
        <div class="cart"> 
          <button><i class="fas fa-shopping-cart"></i></button>
          <p class="total-cost">0</p>
          {{!-- <img src="/public/img/bloodechoes.png" alt="bloodechoes"> --}}
        </div>      
        <div class="burger">
          <button><i class="fas fa-bars"></i></button>
        </div>
    </div>
  </div>
</div>
