{{> admin-head}}
<body>
  {{> admin-navbar}}

  <div class="container">
    {{> admin-sidenav}}
    <div class="admin-panel">
      {{{ body }}}  
    </div>
  </div>
  {{> admin-modals}}
  
<script src="/public/adminapp.js"></script>
</body>
</html>