<div class="admin-home-panel">
  <div class="panel-heading">
    <div class="panel-heading-logo">
      <i class="material-icons">home</i>
    </div>
    <div class="panel-heading-text">
      <h1>Дашборд</h1>
    </div>
  </div>
  <div class="admin-home-plates">
    <div class="first-plate">
      <p class="icon"><i class="material-icons">event_note</i></p>
      <p class="plate-title">Заказы (мес.)</p>
      <p class="plate-p">+34</p>
      <p class="plate-result">Увеличение на 25%</p>
    </div>
    <div class="second-plate">
      <p class="icon"><i class="material-icons">euro_symbol</i></p>
      <p class="plate-title">Выручка (мес.)</p>
      <p class="plate-p">+179000</p>
      <p class="plate-result">Увеличение на 10%</p>
    </div>
    <div class="third-plate">
      <p class="icon"><i class="material-icons">group_add</i></p>
      <p class="plate-title">Пользователи (мес.)</p>
      <p class="plate-p">+8</p>
      <p class="plate-result">Увеличение на 2%</p>
    </div>
  </div>
  <div class="home-panel-orders">
    <h2>Новые заказы</h2>
    <table class="new-orders">
      <thead>
        <tr>
          <th>Имя</th>
          <th>Email</th>
          <th>Тел. номер</th>
          <th>Стоимость</th>
          <th>Статус</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Екатерина Юрьева</td>
          <td>yuryeva@yandex.ru</td>
          <td>74359201023</td>
          <td>2000</td>
          <td><button class="status processing">Обработка</button></td>
        </tr>
        <tr>
          <td>Дарья Политова</td>
          <td>datya-pol@rambler.ru</td>
          <td>74359000021</td>
          <td>50760</td>
          <td><button class="status ordered">Заказано</button></td>
        </tr>
        <tr>
          <td>Алена Федорова</td>
          <td>fedorova99@gmail.com</td>
          <td>81236669312</td>
          <td>26500</td>
          <td><button class="status delivery">Доставка</button></td>
        </tr>
        <tr>
          <td>Екатерина Холмова</td>
          <td>kholmova95@pk.ru</td>
          <td>86679022020</td>
          <td>72500</td>
          <td><button class="status completed">Выполнен</button></td>
        </tr>
        <tr>
          <td>Дарья Гудкова</td>
          <td>dasha@yandex.ru</td>
          <td>70102343592</td>
          <td>90120</td>
          <td><button class="status rejected">Отменен</button></td>
        </tr>
      <tbody>
    </table>
  </div>
</div>