@import 'reset.css';

/* pages */
@import '/public/css/pages/order-details.css';
@import '/public/css/pages/profile.css';
@import '/public/css/pages/faq.css';
/* modals */
@import '/public/css/modals/cart-modal.css';
@import '/public/css/modals/login-modal.css';
@import '/public/css/modals/forgot-password-modal.css';
@import '/public/css/modals/registration-modal.css';
@import '/public/css/modals/status-check-modal.css';
@import '/public/css/modals/status-check-order.css';
@import '/public/css/modals/recommended-modal.css';
@import '/public/css/modals/flash-message.css';

body {
  font-family: 'EB Garamond', serif;
  background: rgb(13, 13, 14);
  position: relative;
  overflow-y: scroll;
}

.container {
  transition: all .5s;
}

/* header */

.header {
  position: relative;
  z-index: 1;
  width: 100%;
}

.upper-header {
  width: 100%;
  max-height: 100px;
  text-align: center;
  border-bottom: 2px solid white;
  background-color: rgba(0, 0, 0, 0.5);
}

.upper-header img {
  width: 0 auto;
  max-height: 100px;
}

.lower-header {
  font-weight: 600;
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 25px;
}

.lower-header .nav .navbar {
  padding: 0 20%;
  position: relative;
}

.lower-header .nav .navbar .login_cart {
  position: absolute;
  top: -10px;
  right: 5%;
  display: flex;
  align-items: center;
}

.lower-header .nav .navbar .login_cart div button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 15px;
}

.lower-header .nav .navbar .login_cart div:first-child {
  margin-right: 15px;
}

.lower-header .nav .navbar .login_cart .cart {
  display: flex;
}

.lower-header .nav .navbar .login_cart .cart p {
  color: #fff;
  padding-top: 7px;
}

.lower-header .nav .navbar .login_cart .cart img {
  width: 30px;
  height: auto;
}
 

.lower-header .nav .navbar ul {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.lower-header .nav .navbar ul li {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}


.lower-header .nav .navbar ul li:after {
  display: block;
  content: '';
  border-bottom: solid 1px white;
  transform: scaleX(0);
  transition: transform 600ms ease-in-out;
}

.lower-header .nav .navbar ul li:hover:after {
  transform: scaleX(1);
}

.active {
  border-bottom: solid 1px white;
}

.lower-header .nav .navbar ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/* home-tabs */

.home-tabs {
  position: relative;
  top: -170px;
  width: 100%;
  max-height: 700px;
  overflow: hidden;
  /* border: 1px solid red; */
  margin-bottom: -170px;
}

.home-tabs img {
  max-width: 100%;
  height: auto;
}

.switchers {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.tab {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 70px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

.tab-active {
  opacity: 1;
}

.tab:hover {
  opacity: 1;
}

/* phrase */

.phrase {
  width: 100%;
  height: 150px;
  background-color: white;
  text-align: center;
  line-height: 150px;
}

.phrase h2 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

/* footer */

.footer-content {
  padding: 0 3%;
}

.footer-content .nav {
  font-weight: 400;
  font-size: 15px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.footer-content .nav .navbar ul {
  display: flex;
  justify-content: space-between;
}

.footer-content .nav .navbar ul li {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-content .nav .navbar ul li:after {
  display: block;
  content: '';
  border-bottom: solid 1px white;
  transform: scaleX(0);
  transition: transform 600ms ease-in-out;
}

.footer-content .nav .navbar ul li:hover:after {
  transform: scaleX(1);
}

.active {
  border-bottom: solid 1px white;
}

.footer-content .nav .navbar ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/* !!!!!!!!!! */
.footer-content .nav .login_cart {
  display: none;
}
/* !!!!!!!!!! */

.footer-content .footer-info {
  margin-top: 50px;
}

.footer-content .footer-info h4 {
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(150, 150, 150);
  font-size: 10px;
}

.footer-content .footer-info p {
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}

.footer-content .footer-info {
  display: flex;
  justify-content: space-between;
}

.logo_socials_copyright_offer-info .logo_socials-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.logo_socials_copyright_offer-info .logo_socials-info .footer-logo img {
  width: 200px;
  height: auto;
}

.logo_socials_copyright_offer-info .logo_socials-info .socials {
  font-size: 35px;
  padding: 5px 10px;
}

.logo_socials_copyright_offer-info .logo_socials-info .socials a {
  color: rgb(150, 150, 150);
  margin: 0 10px;
}

.logo_socials_copyright_offer-info .logo_socials-info .socials a:hover {
  color: #fff
}

.logo_socials_copyright_offer-info .copyright_offer-info {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.logo_socials_copyright_offer-info .copyright_offer-info .offer {
  border-bottom: 1px dashed rgb(150, 150, 150);
}

.logo_socials_copyright_offer-info .copyright_offer-info .offer a {
  text-decoration: none;
}

.footer-content .footer-info .email_time_payments-info {
  display: flex;
}

.footer-content .footer-info .email_time_payments-info h4 {
  margin-bottom: 10px;
}

.footer-content .footer-info .email_time-info {
  margin-right: 20px;
  text-align: right;
}

.footer-content .footer-info .email_time-info .email-info {
  margin-bottom: 30px;
}

.footer-content .footer-info .payments-info {
  text-align: center;
}

.footer-content .footer-info .payments-info img {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
}

/* category */

.category {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.95);
  padding-top: 50px;
  padding-bottom: 70px;
}

.category h1 {
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
}

.category .product-list {
  margin: 0 7%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category .product {
  position: relative;
  width: 385px;
  height: 480px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.category .product .edit_delete {
  position: absolute;
  top: -30px;
  right: 0;
  display: flex;
}

.category .product .edit_delete button {
  border: none;
}

.category .product a {
  text-decoration: none;
  color: inherit;
}

.category .product .product-cover {
  width: 385px;
  height: 400px;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  line-height: 400px;
}

.category .product .product-cover img {
  width: 300px;
  height: auto;
}

.category .product .product-title {
  width: 385px;
  height: 60px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  line-height: 60px;
  font-weight: 500;
  font-size: 25px;
}

.category .product .product-price {
  position: relative;
  position: absolute;
  top: 0;
  width: 170px;
  height: 50px;
  background-color: black;
  border-radius: 30px 0px 30px 0px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-weight: 400;
  font-size: 25px;
}

.category .product .product-price span img {
  position: absolute;
  top: 0;
  width: 40px;
  height: auto;
}

.category .product .more {
  display: none;
  position: absolute;
  top: 35%;
  left: 20%;
  width: 220px;
  height: 50px;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  font-size: 20px;
}

.category .product .more span {
  margin-left: 5px;
}


.category .product:hover .product-cover {
  background-color: black;
  opacity: .5;
  transition: 0.5s;
}

.category .product:hover .product-title {
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}

.category .product:hover .more {
  display: block;
  transition: 0.5s;
}


/* product page */

.product-page {
  background-color: rgb(215, 215, 215);
  padding-top: 50px;
  padding-bottom: 70px;
}

.product-page h1 {
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
}

.product-section {
  margin: 0 7%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.product-section .product-slider {
  position: relative;
  width: 50%;
  text-align: center;
}

.product-section .product-slider .product-slider-center .product-slider-inner {
  display: flex;
  transition: 1s;
}

.product-section .product-slider .product-slider-center .product-slider-inner .product-slide {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.product-section .product-slider .product-slider-center .product-slider-inner .product-slide img {
  max-width: 400px;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: 1s;
}

.product-section .product-slider .product-slider-center .product-slider-inner .product-slide.acti img {
  opacity: 1;
}

.product-section .product-slider .product-slider-center .product-slider-arrow-left,
.product-section .product-slider .product-slider-center .product-slider-arrow-right {
  border: 3px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}

.product-section .product-slider .product-slider-center .product-slider-arrow-left {
  position: absolute;
  top: 200px;
  left: 0;
}

.product-section .product-slider .product-slider-center .product-slider-arrow-right {
  position: absolute;
  top: 200px;
  right: 0;
}

.product-section .product-slider .product-slider-bottom {
  height: 30px;
  line-height: 30px;
}

.product-section .product-slider .product-slider-bottom .product-switchers {
  display: flex;
  justify-content: center;
}

.product-section .product-slider .product-slider-bottom .product-switchers .product-switcher {
  color: #000;
  margin-left: 5px;
  margin-right: 5px;
}   

.product-section .product-slider .product-slider-bottom .product-switchers .product-switcher.active {
  color: #fff;
  border: none;
}

.product-section .product-slider .product-slider-bottom .product-switchers .product-switcher:hover {
  color: #fff;
  border: none;
}


.product-section .product-info {
  box-sizing: border-box;
  width: 50%;
  padding-left: 5%;
}

.product-section .product-info .product-price {
  box-sizing: border-box;
  position: relative;
  width: 160px;
  height: 50px;
  border-radius: 30px;
  padding-left: 45px;
  line-height: 50px;
  background: black;
  color: rgb(215, 215, 215);
  font-weight: 600;
  font-size: 30px;
}

.product-section .product-info hr {
  margin-top: 30px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.product-section .product-info .product-description {
  white-space: pre-line; 
  margin-top: -25px;
  font-weight: 400;
  font-size: 20px;
  color: rgb(71, 68, 79);
  line-height: 1.5;
  font-style: italic;
}

.product-section .product-info .product-size {
  margin-top: 20px;
}

.product-section .product-info .product-size p {
  color: rgb(129, 131, 145);
  font-size: 15px;
  letter-spacing: 2px;
}

.product-section .product-info .product-size ul  {
  margin-top: 20px;
  display: flex;
}

.product-section .product-info .product-size .product-size-btn {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 15px;
  color: rgb(215, 215, 215);
  border-radius: 50px;
  background-color: #fff;
}

.product-section .product-info .product-size .product-size-btn:hover {
  background-color: #000;
  color: #fff;
  font-weight: 700;
}

.product-section .product-info .product-size .product-size-active {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 15px;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  font-weight: 700;
}

.product-section .product-info .quantity_add {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.product-section .product-info .quantity_add .quantity {
  margin-right: 30px;
}

.product-section .product-info .quantity_add .quantity p {
  color: rgb(129, 131, 145);
  font-size: 15px;
  letter-spacing: 2px;
}

.product-section .product-info .quantity_add .quantity .product-counter {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.product-section .product-info .quantity_add .quantity .product-counter .counter-minus {
  border: 2px solid black;
  border-right: none;
  width: 55px;
  background-color: rgb(215, 215, 215);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.product-section .product-info .quantity_add .quantity .product-counter input {
  border: 2px solid black;
  width: 40px;
  background: rgb(215, 215, 215);
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-section .product-info .quantity_add .quantity .product-counter .counter-plus {
  border: 2px solid black;
  border-left: none;
  width: 55px;
  background-color: rgb(215, 215, 215);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.product-section .product-info .quantity_add .add button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 30px;
  margin-top: 35px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 300;
  color: rgb(215, 215, 215);
  background-color: black;
}

.product-page .recommended-section {
  margin: 0 7%;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.product-page .recommended-section h1 {
  text-transform: uppercase;
  font-size: 25px;
}

.product-page .recommended-section .recommended-slider {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-page .recommended-section .recommended-slider .recommended-slider-center {
  box-sizing: border-box;
  max-width: 1020px;
  width: 100%;
  height: 225px;
}

.product-page .recommended-section .recommended-slider .recommended-slider-center .recommended-slider-inner {
  /* border: 1px solid blue; */
  display: flex;
  max-width: 1020px;
  width: 100%;
  transition: 1s all;
}


.product-page .recommended-section .recommended-slider .recommended-slider-center .recommended-slider-inner .recommended-slide {
  /* border: 1px solid red; */
  box-sizing: border-box;
  width: 170px;
  height: 220px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.product-page .recommended-section .recommended-slider .recommended-slider-center .recommended-slider-inner .recommended-slide .recommended-slide-img img {
  width: 150px;
  height: 150px;
}

.product-page .recommended-section .recommended-slider .recommended-slider-center .recommended-slider-inner .recommended-slide .recommended-slide-price {
  margin-top: 10px;
  max-width: 100px;
  width: 100%;
  height: auto;
  padding-top: 2px;
  padding-bottom: 3px;
  border: none;
  border-radius: 30px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 300;
  color: rgb(215, 215, 215);
  background-color: black;
}

.product-page .recommended-section .recommended-slider .recommended-slider-center .recommended-slider-inner .recommended-slide .recommended-slide-title {
  margin-top: 10px;
}


.product-page .recommended-section .recommended-slider .recommended-slider-arrow-left,
.product-page .recommended-section .recommended-slider .recommended-slider-arrow-right {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}


























/* Modals */

.modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  z-index: 100;
}

