@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {
  body {
    font-family: 'EB Garamond', serif;
    background: rgb(13, 13, 14);
    position: relative;
    overflow-y: scroll;
  }

  .container {
    transition: all .5s;
  }

  .header {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .upper-header {
    box-sizing: border-box;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    max-height: 100px;
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 1px solid red; */
  }

  .upper-header img {
    max-width: 180px;
    width: 100%;
    height: auto;
    /* max-height: 100px; */
  }



  .lower-header {
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 25px;
  }

  .lower-header .nav .navbar {
    padding: 0 20%;
    position: relative;
  }

  .lower-header .nav .navbar .login_cart_burger {
    max-width: 140px;
    width: 100%;
    position: absolute;
    top: -60px !important;
    right: 5% !important;
    display: flex;
    justify-content: space-between;
  }

  .lower-header .nav .navbar .login_cart_burger div:first-child {
    margin-right: 0 !important;
  }

  .lower-header .nav .navbar .login_cart_burger div button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 20px !important;
  }

  .lower-header .nav .navbar .login_cart_burger .cart p {
    display: none;
  }

  .lower-header .nav .navbar .login_cart_burger .burger {
    display: block !important;
  }











  .lower-header .nav .navbar ul.menu-list {
    display: none;
    /* display: flex;
    justify-content: space-between;
    position: relative; */
  }

  .lower-header .nav .navbar ul li {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }


  .lower-header .nav .navbar ul li:after {
    display: block;
    content: '';
    border-bottom: solid 1px white;
    transform: scaleX(0);
    transition: transform 600ms ease-in-out;
  }

  .lower-header .nav .navbar ul li:hover:after {
    transform: scaleX(1);
  }

  .active {
    border-bottom: solid 1px white;
  }

  .lower-header .nav .navbar ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }





  /* home-tabs */

  .home-tabs {
    margin-top: 113px !important;
    position: relative;
    min-height: 480px !important;
    max-height: 480px !important;
    height: 100% !important;
    margin-bottom: 0 !important;
  }

  .home-tabs img {
    margin-top: 30px;
    transform: scale(3.3);
  }

  .switchers {
    position: absolute;
    right: 0;
    bottom: 20px !important;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
  }

  .tab {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 70px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
  }

  .tab-active {
    opacity: 1;
  }

  .tab:hover {
    opacity: 1;
  }

  /* phrase */

  .phrase {
    /* display: none; */
    width: 100%;
    height: 130px !important;
    background-color: white;
    text-align: center;
    line-height: 65px !important;
    margin-top: -170px !important;
  }

  .phrase h2 {
    font-size: 25px !important;
    font-weight: 700;
    text-transform: uppercase;
  }

  /* footer */

  .footer-content {
    /* display: none; */
    padding: 0 3%;
    display: flex !important;
    flex-direction: column !important;
  }

  .footer-content .nav {
    display: none;
    font-weight: 400;
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
  }




  .footer-content .footer-info {
    margin-top: 20px !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .footer-content .footer-info h4 {
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(150, 150, 150);
    font-size: 10px;
  }

  .footer-content .footer-info p {
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
  }


  .footer-content .footer-info .logo_socials_copyright_offer-info .logo_socials-info {
    display: flex !important;
    flex-direction: column !important;
    text-align: center;
  }

  .footer-content .footer-info .logo_socials_copyright_offer-info .logo_socials-info .footer-logo img {
    width: 200px;
    height: auto;
  }

  .footer-content .footer-info .logo_socials_copyright_offer-info .logo_socials-info .socials {
    font-size: 35px;
    padding: 5px 10px;
  }

  .footer-content .footer-info .logo_socials_copyright_offer-info .logo_socials-info .socials a {
    color: rgb(150, 150, 150);
    margin: 0 10px;
  }

  .footer-content .footer-info .logo_socials_copyright_offer-info .logo_socials-info .socials a:hover {
    color: #fff
  }

  .footer-content .footer-info .logo_socials_copyright_offer-info .copyright_offer-info {
    display: none !important;
    /* margin-top: 25px; */
    /* display: flex !important;
    flex-direction: column !important; */
  }


  .footer-content .footer-info .email_time_payments-info {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    margin-top: 20px !important;
  }

  .footer-content .footer-info .email_time_payments-info h4 {
    margin-bottom: 10px;
  }

  .footer-content .footer-info .email_time-info {
    text-align: center !important;
    margin-right: 0 !important;
  }

  .footer-content .footer-info .email_time-info .email-info {
    margin-bottom: 20px !important;
  }

  .footer-content .footer-info .payments-info {
    margin-top: 20px !important;
    margin-bottom: 30px !important;
    text-align: center;
  }

  .footer-content .footer-info .payments-info img {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
  }

  .footer-content .inspiration {
    margin: 0 auto;
    margin-bottom: 10px;
  }







}