.password-section {
  margin-top: -25px;
  box-sizing: border-box;
  min-height: 500px;
  height: 100%;
  background: rgb(243, 243, 243);
  padding: 25px 5% !important;
}

.registration-modal {
  box-sizing: border-box;
  background-color: rgb(243, 243, 243);
  max-width: 500px;
  width: 100%;
  padding: 0 20px;
  padding-top: 0px !important;
  z-index: 100;
}

.registration-modal .heading {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.registration-modal .heading hr {
  border: none;
  border-bottom: 2px solid #000;
  width: 400px;
}

.registration-modal .heading h3 {
  position: absolute;
  margin-top: -10px;
  color: #000;
  background-color: rgb(243, 243, 243);
  padding: 0 3px;
  font-weight: 500;
  font-size: 30px;
}

.registration-modal .registration-info .p-input {
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(150, 150, 150);
  font-size: 12px;
  letter-spacing: 1.5px;
  margin-top: 20px;
  margin-left: 5px;
}
  
.registration-modal .registration-info input {
  margin-top: 10px;
  border: none;
  background-color: #fff;
  width: 100%;
  height: 35px;
  border-radius: 30px;
}
 
.registration-modal .registration-btn {
  display: flex;
  justify-content: center;
}

.registration-modal .registration-btn button {
  margin-top: 30px;
  width: 230px;
  height: 40px;
  border: none;
  border-radius: 30px;
  background-color: black;
  color: #fff;
  font-weight: 100;
  letter-spacing: 1.5px;
  font-size: 12px;
  text-transform: uppercase;
}

/* .faq-section {
  box-sizing: border-box;
  min-height: 500px;
  height: 100%;
  background: rgb(243, 243, 243);
  padding: 100px 100px;
}

.faq-section .faq-list .faq-item .faq-item-header {
  box-sizing: border-box;
  border: 2px solid black;
  width: 330px;
  height: 50px;
  border-radius: 30px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
}

.faq-section .faq-list .faq-item:nth-child(2) .faq-item-header {
  margin-top: 30px;
}

.faq-section .faq-list .faq-item .faq-item-wrapper {
  max-height: 0;
  overflow: hidden;
  max-width: 700px;
  transition: max-height 1s;
  margin-top: 20px;
}

.faq-section .faq-list .faq-item .faq-item-wrapper .faq-item-content .faq-block {  
  margin-top: 20px;
}

.faq-section .faq-list .faq-item .faq-item-wrapper .faq-item-content .faq-block h3 {
  font-weight: 700;  
  font-size: 25px;
  letter-spacing: .6px;
}

.faq-section .faq-list .faq-item .faq-item-wrapper .faq-item-content .faq-block p {
  margin-top: 10px;
  letter-spacing: .6px;
  line-height: 20px;
}

.faq-section .faq-list .faq-item .faq-item-wrapper.show {
  display: block;
  max-width: 700px;
  width: 100%;
  max-height: 1000px;
  transition: max-height 1s;
  margin-top: 20px;
}

.faq-section .faq-list .faq-item .faq-item-wrapper.show .faq-item-content .faq-block {  
  margin-top: 20px;
}

.faq-section .faq-list .faq-item .faq-item-wrapper.show .faq-item-content .faq-block h3 {
  font-weight: 700;  
  font-size: 25px;
  letter-spacing: .6px;
}

.faq-section .faq-list .faq-item .faq-item-wrapper.show .faq-item-content .faq-block p {
  margin-top: 10px;
  letter-spacing: .6px;
  line-height: 20px;
} */