.admin-panel .admin-catalog-panel .panel-heading {
  display: flex;
  justify-content: left;
  align-items: center;
}

.admin-panel .admin-catalog-panel .panel-heading .panel-heading-logo {
  height: 35px;
  width: 35px;
  background: rgb(60, 60, 60);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.admin-panel .admin-catalog-panel .panel-heading .panel-heading-logo i {
  color: #fff;
  font-size: 25px;
}

.admin-panel .admin-catalog-panel .panel-heading .panel-heading-text {
  margin-left: 15px;
  font-weight: 700;
}


.admin-panel .admin-catalog-panel .admin-catalog-plates {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.admin-panel .admin-catalog-panel .admin-catalog-plates .first-plate {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 20px;
  max-width: 520px;
  width: 100%;
  height: 200px;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(90deg, #607d8b, #263238 );
  display: flex;
  flex-direction: column;
}

.admin-panel .admin-catalog-panel .admin-catalog-plates .first-plate .search-by {
  display: flex;
  flex-direction: column;
}
.admin-panel .admin-catalog-panel .admin-catalog-plates .first-plate .search-by div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-weight: 300;
}

.admin-panel .admin-catalog-panel .admin-catalog-plates .first-plate .search-by div input {
  max-width: 370px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: linear-gradient(220deg, rgba(154, 154, 154, 0.1), rgba(154, 154, 154, 0.5));
  color: #fff;
  padding: 0 10px;
  height: 30px;
}

.admin-panel .admin-catalog-panel .admin-catalog-plates .second-plate {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 20px;
  max-width: 520px;
  width: 100%;
  height: 200px;
  color: #fff;
  background: linear-gradient(90deg, #263238, #607d8b );
}

.admin-panel .admin-catalog-panel .admin-catalog-plates .second-plate .plate-catalog-info {
  margin-top: 10px;
}

.admin-panel .admin-catalog-panel .admin-catalog-plates .second-plate .plate-catalog-info p {
  font-size: 12px;
  font-weight: 300;
  margin-top: 5px;
}

.admin-panel .admin-catalog-panel .admin-catalog-plates .second-plate span {
  font-weight: 700;
  color: #fff;
}

.admin-panel .admin-catalog-panel .admin-catalog-plates .second-plate .plate-catalog-item-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.admin-panel .admin-catalog-panel .admin-catalog-plates .second-plate .plate-catalog-item-info .plate-catalog-item-img img {
  width: 80px;
  height: auto;
}







.admin-panel .home-panel .add-product-btn {
  margin-top: 10px;
}

.admin-panel .home-panel .catalog-tabs {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.admin-panel .home-panel .catalog-tabs button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.admin-panel .home-panel .catalog-tabs button:hover {
  background-color: #ddd;
}

.admin-panel .home-panel .catalog-tabs button.active {
  background-color: #ccc;
}

.admin-panel .home-panel .home-panel-table {
  margin-top: 20px;
  width: 100%;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}




