@import '/public/css/adminpages/order-status.css';


.admin-panel .admin-home-panel .panel-heading {
  display: flex;
  justify-content: left;
  align-items: center;
}

.admin-panel .admin-home-panel .panel-heading .panel-heading-logo {
  height: 35px;
  width: 35px;
  background: rgb(60, 60, 60);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.admin-panel .admin-home-panel .panel-heading .panel-heading-logo i {
  color: #fff;
  font-size: 25px;
}

.admin-panel .admin-home-panel .panel-heading .panel-heading-text {
  margin-left: 15px;
  font-weight: 700;
}

.admin-panel .admin-home-plates {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.admin-panel .admin-home-plates div {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px 30px;
  max-width: 335px;
  width: 100%;
  height: 180px;
  font-weight: 700;
}

.admin-panel .admin-home-plates div .plate-title {
  margin-top: 15px;
  font-size: 15px;
}

.admin-panel .admin-home-plates div .plate-p {
  margin-top: 15px;
  font-size: 20px;
}

.admin-panel .admin-home-plates div .plate-result {
  margin-top: 20px;
  font-size: 12px;
}

.admin-panel .admin-home-plates .first-plate {
  color: #fff;
  background: linear-gradient(125deg, #607d8b, #263238 );
}

.admin-panel .admin-home-plates .second-plate {
  color: #fff;
  background: linear-gradient(125deg, #795548, #3e2723 );
}

.admin-panel .admin-home-plates .third-plate {
  color: #fff;
  background: linear-gradient(125deg, #9e9e9e, #212121);
}


